/* строка таблицы прилетает слева */
.htl-enter{
    opacity: 0;
    position: relative;    left: -100vw;
}
.htl-enter-active {
    opacity: 1;
    position: relative;    left: 0;
    transition: all 600ms ease-out;
}
.htl-enter-done, .htl-exit {
    opacity: 1;
    position: relative;    left: 0;
}
.htl-exit-active {
    opacity: 0;
    position: relative;    left: -100vw;
    transition: all 600ms ease-out;
}
.htl-exit-done {
    opacity: 0;
    position: relative;    left: -100vw;
}

/* строка таблицы прилетает справа */
.htr-enter{
    opacity: 0;
    position: relative;     left: 100vw;
}
.htr-enter-active {
    opacity: 1;
    position: relative;    left: 0;
    transition: all 600ms ease-out;
}
.htr-enter-done, .htr-exit {
    opacity: 1;
    position: relative;    left: 0;
}
.htr-exit-active {
    opacity: 0;
    position: relative;    left: 100vw;
    transition: all 600ms ease-out;
}
.htr-exit-done {
    opacity: 0;
    position: relative;    left: 100vw;
}

/* стили активации кнопок*/

.bu-enter{
    border-style: outset;
    pointer-events: all;
}
.bu-enter-active {
    border-style: inset;
    pointer-events: all;
    transition: all 600ms ease-out;
}
.bu-enter-done, .bu-exit {
    border-style: inset;
    pointer-events: all; 
}
.bu-exit-active {
    border-style: outset;
    pointer-events: none;
    transition: all 600ms ease-out;
}
.bu-exit-done {
    border-style: outset;
    pointer-events: all;
}

.bu-enter:after, .bu-enter-active:after, .bu-enter-done:after, .bu-exit:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(145deg, #7c7c7c, #cacaca);
}

.bu-enter:after{
    opacity: 0;    
}
.bu-enter-active:after {
    opacity: 1;
    transition: all 1000ms ease-out;
}
.bu-enter-done:after, .bu-exit:after {
    opacity: 1;
}
.bu-exit-active:after {
    opacity: 0;
    transition: all 1000ms ease-out;
}
.bu-exit-done:after {
    opacity: 0;
}