body {
    background: #e3e3e3;
    font-family: roboto;
    color: #464646;
}
.invisible {
    opacity: 0;
}
.forVS {
    min-width: 100px;
    min-height: 10px;
}

.list {
    overflow: hidden;
}
.buttons, .humantable {
    border-radius: 10px;
    background: #e3e3e3;
    box-shadow:  6px 6px 14px #c5c5c5,
                 -6px -6px 14px #ffffff;
    max-width: 800px;
    padding: 10px 10px;
    margin: 10px auto;
    display: flex;      
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
}


.buttons button {
    border-radius: 4px;
    padding: 9px 16px;
    margin: 5px 4px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 12px #cecece, -6px -6px 12px #f2f2f2;
    min-width: 70px; 
    border-color: #ebf6ff;
    border-width: 1px;  
    font-weight: bold;
    color: #464646; 
    position: relative;
    transition: all 1000ms ease-out;
}
.buttons button span {
    position: relative;
    z-index: 3;
}
.extra {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 100%;
}
.buttons_title {
    flex: 1 0 100%;
    text-align: center;
}
.buttons_sort_type button {
    flex: 1 0 33%;
}
.buttons_sort_direction button {
    flex: 1 1 50%;
}
.buttons_view button {
    flex: 1 1 50%;
}
.buttons_view, .buttons_sort {
    flex-wrap: wrap;
}
.buttons_lang button {
    padding: 0;
}
.buttons_sort_type, .buttons_sort_direction, .buttons_view, .buttons_view_type, .buttons_lang {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.buttons_sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
      
}
.buttons_sort, .buttons_view {
    flex: 1 0 50%;
}
.humantable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}
.humantable div {
    text-align: center;
}
.humantable .id {
    flex: 0 0 100px;
}
.humantable .image {
    flex: 0 0 50px;
}
.humantable .name {
    flex: 1 0 200px;
}
.humantable .age {
    flex: 0 0 65px;
}
.humantable .phone {
    flex: 0 0 150px;
}
.humantable .favourite {
    flex: 0 0 100px;
}

.favourite button{
    border: none;
    background-color: transparent;
}